<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- spring 是一个servlet 所以得先配置一个Servlet名字随便取 是一个核心的Servlet-->
  <servlet>
        <servlet-name>springMVCDispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 配置dispathcherServlet的一个初始化参数：配置SpringMVC配置文件的位置和名称 -->
        <init-param>
        	<param-name>contextConfigLocation</param-name>
        	<param-value>classpath:springmvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
        <servlet-name>springMVCDispatcher</servlet-name>
        <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
        <servlet-name>springMVCDispatcher</servlet-name>
        <url-pattern>/</url-pattern>
  </servlet-mapping>

  <error-page>
		<error-code>404</error-code>
		<location>/404</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/500</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/405</location>
	</error-page>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
